
.sign-box{
    margin-left: 0px;
  }
  
  .log-btn{
      border: none;
      font-size: 20px;
      padding: 10px 10px;
      border-radius: 10px;
      background-color:  #d6a438;
      color: white;
      cursor: pointer;
      margin-bottom: 10px;
      margin-top: 10px;
  }
  
  .logout-btn{
    border: none;
    font-size: 20px;
    position: absolute;
    right:1%;
    width: 10%;
    padding: 7px;
    border-radius: 10px;
    background-color: #d6a438;
    color: white;
    cursor: pointer;
  }
  
  .log-btn:hover{
    background-color: #a27106;
    color:white;
    transform: scale(1.03);
  }
  